<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login By Phone Number</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <ion-item>
    <ion-label stacked>Phone Number</ion-label>
    <ion-input type="number" [(ngModel)]="phoneNumber"></ion-input>
  </ion-item>
<br>
  <ion-button color="success" id="sign-in-button" (click)="signIn(phoneNumber)">
    Sign In
  </ion-button>
  <p class="go-to-register">
    Or  <a (click)="goToLogin()">Log in with E-mail</a>
  </p>
  <br>
  <br>
  <div id="recaptcha-container"></div>
</ion-content>
