<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center">Hello</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!hasVerifiedEmail">
  Please Check you email for verification email
  <br>
  <ion-button color="primary" (click)="sendVerificationEmail()">Send Verification Email</ion-button>
</ion-header>
<ion-content>

<h5 style="text-align: center" > Hello {{user}}</h5>


  <div class="mr-auto ml-auto">
    <ion-col>
      <ion-button color="warning" (click)="logout()">Log Out</ion-button>
    </ion-col>
  </div>
</ion-content>
