<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>hello</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!hasVerifiedEmail">
  Please Check you email for verification email
  <br>
  <ion-button color="primary" (click)="sendVerificationEmail()">Send Verification Email</ion-button>
</ion-header>
<ion-content>
<h5> Hello {{userEmail}}</h5>

  <div>
    <ion-col>
      <button class="btn" color="danger" (click)="logout()">Log Out</button>
    </ion-col>
  </div>
</ion-content>
