<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form  #form="ngForm">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Name" ngModel required #name></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required #email></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required #password></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" (click)="signUp(email,password, name)" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
          <p class="go-to-register">
            Have an account? <a (click)="goToRegisterPage()">Go log in</a>
          </p>
          <p class="go-to-register">
            Or  <a (click)="goToSMS()">Sign Up with SMS</a>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
