<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="recaptcha-container"></div>
  <ion-item>
    <ion-label stacked>Name</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Phone Number</ion-label>
    <ion-input type="number" [(ngModel)]="phoneNumber"></ion-input>
  </ion-item>

  <button ion-button id="sign-in-button" (click)="signIn(phoneNumber,name)">
    Sign Up
  </button>

  <p class="go-to-register">
    Or ? <a (click)="goToRegisterPage()"> Sign Up with Email</a>
  </p>
</ion-content>
